/* styles.css */

body {
  background-color: #3bbba4; /* Fondo con el color principal */
  font-family: 'Arial', sans-serif;
}

/* Estilos del login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3bbba4; /* Fondo de la página */
}

.login-card {
  background-color: #f7f7f7; /* Fondo blanco para el formulario */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-control {
  border: 2px solid #3bbba4; /* Bordes acorde al color Vetcare */
  padding: 10px;
  font-size: 1rem;
}

.btn {
  background-color: #3bbba4;
  color: white;
  width: 100%;
  padding: 10px;
}

.btn:hover {
  background-color: #35a18d;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/*para el registro*/
.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3bbba4; /* Fondo de la página */
}

.register-card {
  background-color: #f7f7f7; /* Fondo blanco para el formulario */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.form-control {
  border: 2px solid #3bbba4; /* Bordes acorde al color Vetcare */
  padding: 10px;
  font-size: 1rem;
}

.btn {
  background-color: #3bbba4;
  color: white;
  width: 100%;
  padding: 10px;
}

.btn:hover {
  background-color: #35a18d;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Para el toggle */
.input-group {
  border-radius: 0; /* Eliminar bordes redondeados */
}

.input-group .btn {
  background-color: #3bbba4; /* Color de fondo del botón */
  border: 2px solid #3bbba4; /* Borde del mismo color que el botón */
  border-radius: 0 0.375rem 0.375rem 0; /* Bordes redondeados a la derecha */
  color: white; /* Color del texto e ícono */
}

.input-group .btn:hover {
  background-color: #35a18d; /* Color al pasar el mouse */
  border-color: #35a18d; /* Cambiar el color del borde al pasar el mouse */
}

.input-group .btn i {
  color: white; /* Color del ícono */
}

.login-card h2,
.register-card h2 {
  color: #3bbba4; /* Color Vetcare */
}

.input-group {
  position: relative; /* Para poder usar la posición absoluta en el ícono */
}

.input-group .btn {
  height: 100%; /* Asegura que el botón ocupe toda la altura del input */
  border-radius: 0 0.375rem 0.375rem 0; /* Bordes redondeados a la derecha */
  margin-left: -1px; /* Para evitar doble borde */
}

.input-group input {
  border-radius: 0.375rem 0 0 0.375rem; /* Bordes redondeados a la izquierda */
}
